<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Welcome to Hacker News</h1>
    <p>
        Hacker News is a social news website focusing on computer science and entrepreneurship. 
        It is run by Paul Graham's investment fund and startup incubator, Y Combinator. In general, 
        content that can be submitted is defined as "anything that gratifies one's intellectual curiosity".
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/news']">News</a>
  </div>

</section>

